<article class="grid grid--1x2">
  <div class="column">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis
      eius soluta molestiae minus, sint et accusamus dignissimos, quos numquam
      qui corrupti distinctio ipsam sapiente sunt tempore impedit inventore nisi
      vel!
    </p>
  </div>
  <div class="column">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
      sapiente, accusantium fuga at quia repellendus inventore soluta
      voluptatem, sint, earum ipsum maiores quos ut architecto cum mollitia vero
      vitae consequatur?
    </p>
  </div>
</article>
