<footer class="block--primary">
      <div class="container footer__sections grid">
        <section class="footer__section collapsible collapsible--expanded">
          <div class="collapsible__header footer__header">
            <h2 class="collapsible__heading footer__heading">Services</h2>
            <img
              src="medias/icons/chevron--green.svg"
              alt=""
              class="collapsible__chevron"
            />
          </div>
          <div class="collapsible__content">
            <ul class="list footer__list">
              <li class="footer__list-item">
                <a href="#chef-prive">Chef à domicile</a>
              </li>
              <li class="footer__list-item">
                <a href="#">Accord Mets/Vins</a>
              </li>
              <li class="footer__list-item">
                <a href="#">Cours de Pâtisserie</a>
              </li>
            </ul>
          </div>
        </section>
        <section class="footer__section collapsible collapsible--expanded">
          <div class="collapsible__header footer__header">
            <h2 class="collapsible__heading footer__heading">Réseaux</h2>
            <img
              src="medias/icons/chevron--green.svg"
              alt=""
              class="collapsible__chevron"
            />
          </div>
          <div class="collapsible__content">
            <ul class="list footer__list">
              <li class="footer__list-item">
                <a
                  href="mailto:petruc.hamon@gmail.com?subject=Demande d'information pour mon repas à domicile..."
                >petruc.hamon@gmail.com</a
              </li>
              <li class="footer__list-item">instagram: @petru.hamon</li>
              <li class="footer__list-item"><a href="www.privatechef.biz">www.privatechef.biz</a></li>
            </ul>
          </div>
        </section>
        <section class="footer__section collapsible collapsible--expanded">
          <div class="collapsible__header footer__header">
            <h2 class="collapsible__heading footer__heading">Contact</h2>
            <img
              src="medias/icons/chevron--green.svg"
              alt=""
              class="collapsible__chevron"
            />
          </div>
          <div class="collapsible__content">
            <ul class="list footer__list">
              <li class="footer__list-item">23, av.Crovetto Frères</li>
              <li class="footer__list-item">98000 MONACO</li>
              <br />
              <li class="footer__list-item">Rte de Belgodère</li>
              <li class="footer__list-item">Lieu-dit l'Ombria</li>
              <li class="footer__list-item">20226 BELGODÈRE</li>
            </ul>
          </div>
        </section>
        <div class="footer__brand">
          <img
            src="medias/pictos/ph-private-chef.png"
            alt=""
            class="footer__brand"
          />
          <p class="footer__copyright">Copyright &#169; 2025 JBHamon</p>
        </div>
      </div>
    </footer>

