<form action="" class="grid grid--form form">
  <picture class="form__picture">
    <img
      sizes="(max-width: 310px) 100vw, 310px"
      type="image/webp"
      srcset="
        medias/images/form@150.webp 150w,
        medias/images/form@240.webp 240w,
        medias/images/form@310.webp 310w
      "
      type="image/jpg"
      srcset="
        medias/images/form@150.jpg 150w,
        medias/images/form@240.jpg 240w,
        medias/images/form@310.jpg 310w
      "
      class="form__image"
      src="medias/images/form@310.jpg"
      alt=""
    />
  </picture>
  <fieldset class="form__content">
    <input id="surname" type="text" placeholder="nom / surname" />
    <input id="name" type="text" placeholder="prénom / name" />
    <input id="city" type="text" placeholder="ville / city" />
    <input id="phone" type="tel" placeholder="téléphone / phone" />
    <input id="mail" type="email" placeholder="mail" />
  </fieldset>
  <textarea
    rows="10"
    class="form__comment"
    placeholder="Votre commentaire / Your remark"
  ></textarea>
</form>
