<div class="card card--shadow card--gw card--formula">
  <div class="formula__header">
    <h4 class="card__header">Formule Gastronomique</h4>
    <label class="custom-checkbox"
      ><input type="checkbox" id="gastro" class="checkbox" />
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="grid formula-container">
    <div><img src="medias/icons/couverts.svg" alt="" class="bullet" /></div>
    <div>
      <p class="formula-item">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
    <div><img src="medias/icons/couverts.svg" alt="" class="bullet" /></div>
    <div>
      <p class="formula-item">
        Vero ullam nulla quidem natus sapiente rem tenetur.
      </p>
    </div>
    <div><img src="medias/icons/couverts.svg" alt="" class="bullet" /></div>
    <div>
      <p class="formula-item">
        Facilis nostrum odit neque assumenda inventore error consequuntur.
      </p>
    </div>
    <div><img src="medias/icons/couverts.svg" alt="" class="bullet" /></div>
    <div>
      <p class="formula-item">
        Quaerat fugiat iste alias temporibus nihil, fuga maiores?
      </p>
    </div>
    <div><img src="medias/icons/couverts.svg" alt="" class="bullet" /></div>
    <div>
      <p class="formula-item">
        Hic esse unde voluptate commodi aliquid quaerat aliquam!
      </p>
    </div>
  </div>
</div>
