<div class="container grid grid--1x2 hero">
  <div class="hero__header">
    <img
      src="medias/pictos/petru-hamon.png"
      alt="Logo Petru HAMON"
      class="hero__picto"
    />
    <h1>Private Chef</h1>
    <p class="hero__tagline">
      Découvrez, chez vous,<br />l'excellence cullinaire !
    </p>
  </div>
  <div class="grid--4x3 hero__gallery">
    <picture class="hero__picture"
      ><img
        sizes="(max-width: 510px) 30vw, 510px"
        type="image/webp"
        srcset="
          medias/images/hero/chocolat@170.webp 170w,
          medias/images/hero/chocolat@340.webp 340w,
          medias/images/hero/chocolat@510.webp 510w
        "
        type="image/jpg"
        srcset="
          medias/images/hero/chocolat@170.jpg 170w,
          medias/images/hero/chocolat@340.jpg 340w,
          medias/images/hero/chocolat@510.jpg 510w
        "
        class="hero__image"
        src="medias/images/hero/chocolat@510.jpg"
        alt="Dessert au chocolat dans sa fève de cacao"
    /></picture>
    <picture class="hero__picture"
      ><img
        sizes="(max-width: 510px) 30vw, 510px"
        type="image/webp"
        srcset="
          medias/images/hero/table-vue@170.webp 170w,
          medias/images/hero/table-vue@340.webp 340w,
          medias/images/hero/table-vue@510.webp 510w
        "
        type="image/jpg"
        srcset="
          medias/images/hero/table-vue@170.jpg 170w,
          medias/images/hero/table-vue@340.jpg 340w,
          medias/images/hero/table-vue@510.jpg 510w
        "
        class="hero__image"
        src="medias/images/hero/table-vue@510.jpg"
        alt="Table dressée avec vue en arrière plan"
    /></picture>
    <picture class="hero__picture"
      ><img
        sizes="(max-width: 510px) 30vw, 510px"
        type="image/webp"
        srcset="
          medias/images/hero/entremet@170.webp 170w,
          medias/images/hero/entremet@340.webp 340w,
          medias/images/hero/entremet@510.webp 510w
        "
        type="image/jpg"
        srcset="
          medias/images/hero/entremet@170.jpg 170w,
          medias/images/hero/entremet@340.jpg 340w,
          medias/images/hero/entremet@510.jpg 510w
        "
        class="hero__image"
        src="medias/images/hero/entremet@510.jpg"
        alt="Fin de dressage d'un entremet"
    /></picture>
    <picture class="hero__picture"
      ><img
        sizes="(max-width: 510px) 30vw, 510px"
        type="image/webp"
        srcset="
          medias/images/hero/daurade@170.webp 170w,
          medias/images/hero/daurade@340.webp 340w,
          medias/images/hero/daurade@510.webp 510w
        "
        type="image/jpg"
        srcset="
          medias/images/hero/daurade@170.jpg 170w,
          medias/images/hero/daurade@340.jpg 340w,
          medias/images/hero/daurade@510.jpg 510w
        "
        class="hero__image"
        src="medias/images/hero/daurade@510.jpg"
        alt="Carpaccio de daurade sur son galet de rivière"
    /></picture>
    <picture class="hero__picture"
      ><img
        sizes="(max-width: 510px) 30vw, 510px"
        type="image/webp"
        srcset="
          medias/images/hero/betterave@170.webp 170w,
          medias/images/hero/betterave@340.webp 340w,
          medias/images/hero/betterave@510.webp 510w
        "
        type="image/jpg"
        srcset="
          medias/images/hero/betterave@170.jpg 170w,
          medias/images/hero/betterave@340.jpg 340w,
          medias/images/hero/betterave@510.jpg 510w
        "
        class="hero__image"
        src="medias/images/hero/betterave@510.jpg"
        alt="Gargouillou de betterave"
    /></picture>
    <picture class="hero__picture"
      ><img
        sizes="(max-width: 510px) 30vw, 510px"
        type="image/webp"
        srcset="
          medias/images/hero/pasteque@170.webp 170w,
          medias/images/hero/pasteque@340.webp 340w,
          medias/images/hero/pasteque@510.webp 510w
        "
        type="image/jpg"
        srcset="
          medias/images/hero/pasteque@170.jpg 170w,
          medias/images/hero/pasteque@340.jpg 340w,
          medias/images/hero/pasteque@510.jpg 510w
        "
        class="hero__image"
        src="medias/images/hero/pasteque@510.jpg"
        alt="Pastèque Yaourt"
    /></picture>
  </div>
</div>
<div class="btn-container">
  <a href="#" class="btn--primary">Réservez Maintenant</a>
</div>
