<div class="media">
  <picture class="media__picture">
    <img
      sizes="(max-width: 480px) 100vw, 480px"
      type="image/webp"
      srcset="
        medias/images/petru@320.webp 320w,
        medias/images/petru@480.webp 480w
      "
      type="image/jpg"
      srcset="
        medias/images/petru@320.jpg 320w,
        medias/images/petru@480.jpg 480w
      "
      class="media__image"
      src="medias/images/petru@480.jpg"
      alt=""
    />
  </picture>
  <div class="media__content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, doloremque.
    </p>
  </div>
</div>
<div class="bottom"></div>
<div class="media media-2">
  <picture class="media__picture"
    ><img
      sizes="(max-width: 480px) 100vw, 480px"
      type="image/webp"
      srcset="
        medias/images/petru@320.webp 320w,
        medias/images/petru@480.webp 480w
      "
      type="image/jpg"
      srcset="
        medias/images/petru@320.jpg 320w,
        medias/images/petru@480.jpg 480w
      "
      class="media__image"
      src="medias/images/petru@480.jpg"
      alt=""
  /></picture>
  <div class="media__content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, doloremque.
    </p>
  </div>
</div>
<div class="bottom"></div>
