<header>
  <nav class="collapsible nav collapsible--expanded">
    <a href="/"><img class="nav-brand" src="medias/pictos/ph.png" alt="" /></a>
    <svg class="nav__toggler">
      <use xlink:href="medias/icons/menu.svg#menu"></use>
    </svg>
    <div class="collapsible__content nav__list">
      <div class="nav__item-container">
        <img class="nav__icon" src="medias/pictos/svg/chef.svg" alt="" />
        <a href="#" class="nav__item">Chef privé</a>
      </div>
      <div class="nav__item-container">
        <img class="nav__icon" src="medias/pictos/svg/cloche.svg" alt="" />
        <a href="#" class="nav__item">Ma cuisine</a>
      </div>
      <div class="nav__item-container">
        <img class="nav__icon" src="medias/pictos/svg/assiette.svg" alt="" />
        <a href="#" class="nav__item">À domicile</a>
      </div>
      <div class="nav__item-container">
        <img class="nav__icon" src="medias/pictos/svg/calendrier.svg" alt="" />
        <a href="#" class="nav__item">Le processus</a>
      </div>
      <div class="nav__item-container">
        <img class="nav__icon" src="medias/pictos/svg/rouleau.svg" alt="" />
        <a href="#" class="nav__item">Cours de pâtisserie</a>
      </div>
      <div class="nav__item-container">
        <img class="nav__icon" src="medias/pictos/svg/message.svg" alt="" />
        <a href="#" class="nav__item">Témoignages</a>
      </div>
      <div class="nav__item-container">
        <img class="nav__icon" src="medias/pictos/svg/contact.svg" alt="" />
        <a href="#" class="nav__item">Contact</a>
      </div>
    </div>
  </nav>
</header>
