    <section id='le-processus'>
    <div class="block--primary block--skewed--top--right grid grid--1x2 section__hero">
  <div class="section__header">
    <h2 class="section__heading">Le Processus</h2>
    <img class="virgule" src="medias/pictos/virgule.png" alt="" />
    <img class="picto" src="medias/pictos/svg/calendrier.svg" alt="" />
  </div>
  <picture class="section__picture"
    ><img
      sizes="(max-width: 1238px) 100vw, 1238px"
      type="image/webp"
      srcset="
        medias/images/daurade@380.webp   380w,
        medias/images/daurade@900.webp   900w,
        medias/images/daurade@1238.webp 1238w
      "
      type="image/jpg"
      srcset="
        medias/images/daurade@380.jpg   380w,
        medias/images/daurade@900.jpg   900w,
        medias/images/daurade@1238.jpg 1238w
      "
      class="section__image"
      src="medias/images/daurade@1238.jpg"
      alt=""
  />
  </picture>
</div>
    <div class="media">
      <picture class="media__picture">
        <img
          sizes="(max-width: 480px) 100vw, 480px"
          type="image/webp"
          srcset="
            medias/images/framboise@320.webp 320w,
            medias/images/framboise@480.webp 480w
          "
          type="image/jpg"
          srcset="
            medias/images/frambouse@320.jpg 320w,
            medias/images/framboise@480.jpg 480w
          "
          class="media__image"
          src="medias/images/framboise@480.jpg"
          alt=""
        />
      </picture>
      <div class="media__content">
        <p>
        Une Gastronomie à votre portée.
        </p>
      </div>
    </div>
    <article>
  <div class="grid grid--1x2 column-container">
    <div class="column">
      <p class="article__content">
      Imaginez déguster un repas gastronomique digne des plus grands restaurants, préparé spécialement pour vous dans votre propre cuisine. 
      </p>
    </div>
    <div class="column">
      <p class="article__content">
      Je transforme vos repas en une véritable expérience gastronomique, en apportant mon expertise et ma passion directement chez vous. 
      </p>
    </div>
  </div>
</article>
      <div class="grid grid--1x2 container block--cards-process">
      <div class="card--process">
  <h3 class="card__heading">contactez-moi</h3>
  <p class="card__content">
  Faites-moi part de vos envies et besoins spécifiques.
  </p>
  <img
    class="virgule-verticale"
    src="medias/pictos/virgule-verticale.png"
    alt=""
  />
  <div class="number">
    <p>1</p>
  </div>
</div>
      <div class="card--process">
  <h3 class="card__heading">conception du menu</h3>
  <p class="card__content">
  Je vous propose un menu personnalisé.
  </p>
  <img
    class="virgule-verticale"
    src="medias/pictos/virgule-verticale.png"
    alt=""
  />
  <div class="number">
    <p>2</p>
  </div>
</div>
      <div class="card--process">
  <h3 class="card__heading">jour j</h3>
  <p class="card__content">
  Détendez-vous pendant que je prépare et sert votre repas.
  </p>
  <img
    class="virgule-verticale"
    src="medias/pictos/virgule-verticale.png"
    alt=""
  />
  <div class="number">
    <p>3</p>
  </div>
</div>
      <div class="card--process">
  <h3 class="card__heading">profitez</h3>
  <p class="card__content">
  Savourez des plats délicieux et laissez moi m’occuper du reste!
  </p>
  <img
    class="virgule-verticale"
    src="medias/pictos/virgule-verticale.png"
    alt=""
  />
  <div class="number">
    <p>4</p>
  </div>
</div>
      </div>
      <picture class="section__footer"
  ><img
    class="section__footer block--white block--skewed--bottom--right"
    sizes="(max-width: 1920px) 100vw, 1920px"
    type="image/webp"
    srcset="
      medias/images/entremet-closup@320.webp   320w,
      medias/images/entremet-closeup@1320.webp 1320w,
      medias/images/entremet-closeup@1920.webp 1920w
    "
    type="image/jpg"
    srcset="
      medias/images/entremet-closeup@320.jpg   320w,
      medias/images/entremet-closeup@1320.jpg 1320w,
      medias/images/entremet-closeup@1920.jpg 1920w
    "
    class="hero__image"
    src="medias/images/entremet-closeup@1920.jpg"
    alt="Gros plan sur l'assemblage d'une entrée"
/></picture>
    </section>
