<section class="form__container" id="contactez-moi">
      <form action="">
        <div
          class="block--primary block--skewed--top--right grid grid--1x2 section__hero"
        >
          <div class="section__header">
            <h2 class="section__heading">Contactez-moi</h2>
            <img class="virgule" src="medias/pictos/virgule.png" alt="" />
            <img class="picto" src="medias/pictos/svg/contact.svg" alt="" />
          </div>
          <div class="grid grid--form form">
            <picture class="form__picture">
              <img
                sizes="(max-width: 310px) 100vw, 310px"
                type="image/webp"
                srcset="
                  medias/images/form@150.webp 150w,
                  medias/images/form@240.webp 240w,
                  medias/images/form@310.webp 310w
                "
                type="image/jpg"
                srcset="
                  medias/images/form@150.jpg 150w,
                  medias/images/form@240.jpg 240w,
                  medias/images/form@310.jpg 310w
                "
                class="form__image"
                src="medias/images/form@310.jpg"
                alt=""
              />
            </picture>
            <fieldset class="form__content">
              <input id="surname" type="text" placeholder="nom / surname" />
              <input id="name" type="text" placeholder="prénom / name" />
              <input id="city" type="text" placeholder="ville / city" />
              <input id="phone" type="tel" placeholder="téléphone / phone" />
              <input id="mail" type="email" placeholder="mail" />
            </fieldset>
            <textarea
              rows="10"
              class="form__comment"
              placeholder="Votre commentaire / Your remark"
            ></textarea>
          </div>
        </div>
        <div class="grid grid--1x2 container block--cards">
          <div class="card card--shadow card--gw card--formula">
            <div class="formula__header">
              <h4 class="card__heading">Formule<br />Gastronomique</h4>
              <label class="custom-checkbox"
                ><input type="checkbox" id="gastro" class="checkbox" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="grid formula-container">
              <div>
                <img src="medias/icons/couverts.svg" alt="" class="bullet" />
              </div>
              <div>
                <p class="formula-item">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
              <div>
                <img src="medias/icons/couverts.svg" alt="" class="bullet" />
              </div>
              <div>
                <p class="formula-item">
                  Vero ullam nulla quidem natus sapiente rem tenetur.
                </p>
              </div>
              <div>
                <img src="medias/icons/couverts.svg" alt="" class="bullet" />
              </div>
              <div>
                <p class="formula-item">
                  Facilis nostrum odit neque assumenda inventore error
                  consequuntur.
                </p>
              </div>
              <div>
                <img src="medias/icons/couverts.svg" alt="" class="bullet" />
              </div>
              <div>
                <p class="formula-item">
                  Quaerat fugiat iste alias temporibus nihil, fuga maiores?
                </p>
              </div>
              <div>
                <img src="medias/icons/couverts.svg" alt="" class="bullet" />
              </div>
              <div>
                <p class="formula-item">
                  Hic esse unde voluptate commodi aliquid quaerat aliquam!
                </p>
              </div>
            </div>
          </div>
          <div class="card card--shadow card--gw card--formula">
            <div class="formula__header">
              <h4 class="card__heading">Formule<br />Gastronomique</h4>
              <label class="custom-checkbox"
                ><input type="checkbox" id="gastro" class="checkbox" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="grid formula-container">
              <div>
                <img src="medias/icons/couverts.svg" alt="" class="bullet" />
              </div>
              <div>
                <p class="formula-item">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
              <div>
                <img src="medias/icons/couverts.svg" alt="" class="bullet" />
              </div>
              <div>
                <p class="formula-item">
                  Vero ullam nulla quidem natus sapiente rem tenetur.
                </p>
              </div>
              <div>
                <img src="medias/icons/couverts.svg" alt="" class="bullet" />
              </div>
              <div>
                <p class="formula-item">
                  Facilis nostrum odit neque assumenda inventore error
                  consequuntur.
                </p>
              </div>
              <div>
                <img src="medias/icons/couverts.svg" alt="" class="bullet" />
              </div>
              <div>
                <p class="formula-item">
                  Quaerat fugiat iste alias temporibus nihil, fuga maiores?
                </p>
              </div>
              <div>
                <img src="medias/icons/couverts.svg" alt="" class="bullet" />
              </div>
              <div>
                <p class="formula-item">
                  Hic esse unde voluptate commodi aliquid quaerat aliquam!
                </p>
              </div>
            </div>
          </div>
          <div class="card card--shadow card--gw card--formula">
            <div class="formula__header">
              <h4 class="card__heading">Formule<br />Gastronomique</h4>
              <label class="custom-checkbox"
                ><input type="checkbox" id="gastro" class="checkbox" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="grid formula-container">
              <div>
                <img src="medias/icons/couverts.svg" alt="" class="bullet" />
              </div>
              <div>
                <p class="formula-item">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
              <div>
                <img src="medias/icons/couverts.svg" alt="" class="bullet" />
              </div>
              <div>
                <p class="formula-item">
                  Vero ullam nulla quidem natus sapiente rem tenetur.
                </p>
              </div>
              <div>
                <img src="medias/icons/couverts.svg" alt="" class="bullet" />
              </div>
              <div>
                <p class="formula-item">
                  Facilis nostrum odit neque assumenda inventore error
                  consequuntur.
                </p>
              </div>
              <div>
                <img src="medias/icons/couverts.svg" alt="" class="bullet" />
              </div>
              <div>
                <p class="formula-item">
                  Quaerat fugiat iste alias temporibus nihil, fuga maiores?
                </p>
              </div>
              <div>
                <img src="medias/icons/couverts.svg" alt="" class="bullet" />
              </div>
              <div>
                <p class="formula-item">
                  Hic esse unde voluptate commodi aliquid quaerat aliquam!
                </p>
              </div>
            </div>
          </div>
          <div class="card card--shadow card--gw card--formula">
            <div class="formula__header">
              <h4 class="card__heading">Formule<br />Gastronomique</h4>
              <label class="custom-checkbox"
                ><input type="checkbox" id="gastro" class="checkbox" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="grid formula-container">
              <div>
                <img src="medias/icons/couverts.svg" alt="" class="bullet" />
              </div>
              <div>
                <p class="formula-item">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
              <div>
                <img src="medias/icons/couverts.svg" alt="" class="bullet" />
              </div>
              <div>
                <p class="formula-item">
                  Vero ullam nulla quidem natus sapiente rem tenetur.
                </p>
              </div>
              <div>
                <img src="medias/icons/couverts.svg" alt="" class="bullet" />
              </div>
              <div>
                <p class="formula-item">
                  Facilis nostrum odit neque assumenda inventore error
                  consequuntur.
                </p>
              </div>
              <div>
                <img src="medias/icons/couverts.svg" alt="" class="bullet" />
              </div>
              <div>
                <p class="formula-item">
                  Quaerat fugiat iste alias temporibus nihil, fuga maiores?
                </p>
              </div>
              <div>
                <img src="medias/icons/couverts.svg" alt="" class="bullet" />
              </div>
              <div>
                <p class="formula-item">
                  Hic esse unde voluptate commodi aliquid quaerat aliquam!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-container form__button">
          <a href="#" class="btn--primary">Réservez Maintenant</a>
        </div>
      </form>
    </section
