<div class="grid grid--1x2 section">
  <div class="section__header">
    <h2 class="section__heading">Chef Privé</h2>
    <img class="virgule" src="medias/pictos/virgule.png" alt="" />
    <img class="picto" src="medias/pictos/svg/chef.svg" alt="" />
  </div>
  <picture class="section__picture"
    ><img
      sizes="(max-width: 1238px) 100vw, 1238px"
      type="image/webp"
      srcset="
        medias/images/cedrat@380.webp   380w,
        medias/images/cedrat@900.webp   900w,
        medias/images/cedrat@1238.webp 1238w
      "
      type="image/jpg"
      srcset="
        medias/images/cedrat@380.jpg   380w,
        medias/images/cedrat@900.jpg   900w,
        medias/images/cedrat@1238.jpg 1238w
      "
      class="section__image"
      src="medias/images/cedrat@1238.jpg"
      alt=""
  /></picture>
</div>
