<section id="ma-cuisine">
  <div class="block--primary block--skewed--top--right">
    <div class="grid grid--1x2 section__hero">
      <div class="section__header">
        <h2 class="section__heading">Ma Cuisine</h2>
        <img class="virgule" src="medias/pictos/virgule.png" alt="" />
        <img class="picto" src="medias/pictos/svg/cloche.svg" alt="" />
      </div>
      <picture class="section__picture"
        ><img
          sizes="(max-width: 1238px) 100vw, 1238px"
          type="image/webp"
          srcset="
            medias/images/courgette@380.webp   380w,
            medias/images/courgette@900.webp   900w,
            medias/images/courgette@1238.webp 1238w
          "
          type="image/jpg"
          srcset="
            medias/images/courgette@380.jpg   380w,
            medias/images/courgette@900.jpg   900w,
            medias/images/courgette@1238.jpg 1238w
          "
          class="section__image"
          src="medias/images/courgette@1238.jpg"
          alt=""
      /></picture>
    </div>
  </div>
  <div class="media">
    <picture class="media__picture">
      <img
        sizes="(max-width: 480px) 100vw, 480px"
        type="image/webp"
        srcset="
          medias/images/veau@320.webp 320w,
          medias/images/veau@480.webp 480w
        "
        type="image/jpg"
        srcset="
          medias/images/veau@320.jpg 320w,
          medias/images/veau@480.jpg 480w
        "
        class="media__image"
        src="medias/images/veau@480.jpg"
        alt=""
      />
    </picture>
    <div class="media__content">
      <p>
        Ma cuisine, élégante et raffinée, marie harmonieusement des influences
        variées pour émerveiller vos papilles.
      </p>
    </div>
  </div>
  <article>
    <div class="grid grid--1x2 column-container">
      <div class="column">
        <p class="article__content">
          Ensemble, nous définissons un menu personnalisé, élaboré avec des
          produits locaux de saison, où chaque détail est minutieusement pensé.
        </p>
      </div>
      <div class="column">
        <p class="article__content">
          Ce serait un honneur de partager ma passion pour la gastronomie avec
          vous et de contribuer à la magie de vos événements privés.
        </p>
      </div>
    </div>
  </article>
  <div class="media media-2">
    <picture class="media__picture"
      ><img
        sizes="(max-width: 480px) 100vw, 480px"
        type="image/webp"
        srcset="
          medias/images/sommelier@320.webp 320w,
          medias/images/sommelier@480.webp 480w
        "
        type="image/jpg"
        srcset="
          medias/images/sommelier@320.jpg 320w,
          medias/images/sommelier@480.jpg 480w
        "
        class="media__image"
        src="medias/images/sommelier@480.jpg"
        alt=""
    /></picture>
    <div class="media__content">
      <p>
        Une expérience culinaire sublimée par des accords mets & vins sur
        mesure.
      </p>
    </div>
  </div>
  <article>
    <div class="grid grid--1x2 column-container">
      <div class="column">
        <p class="article__content">
          Grace à ma formation en dégustation, accords mets & vins, je travaille
          en étroite collaboration avec vous pour élaborer des menus en parfaite
          harmonie avec les vins de votre choix.
        </p>
      </div>
      <div class="column">
        <p class="article__content">
          Que vous souhaitiez mettre en avant une sélection de vins, les choisir
          dans votre cave ou me laisser décider de leur assortiment, chaque plat
          sera élaboré afin de vous offrir une expérience gustative inoubliable.
        </p>
      </div>
      <div class="column">
        <p class="article__content">
          Si le menu est déjà défini, je peux également vous proposer des vins
          soigneusement sélectionnés, en parfait accord avec les saveurs
          choisies.
        </p>
      </div>
    </div>
  </article>
  <picture class="section__footer"
    ><img
      class="section__footer block--white block--skewed--bottom--right"
      sizes="(max-width: 1920px) 100vw, 1920px"
      type="image/webp"
      srcset="
        medias/images/passe-plats@320.webp   320w,
        medias/images/passe-plats@1320.webp 1320w,
        medias/images/passe-plats@1920.webp 1920w
      "
      type="image/jpg"
      srcset="
        medias/images/passe-plats@320.jpg   320w,
        medias/images/passe-plats@1320.jpg 1320w,
        medias/images/passe-plats@1920.jpg 1920w
      "
      class="hero__image"
      src="medias/images/passe-plats@1920.jpg"
      alt="Gros plan sur l'assemblage d'une entrée"
  /></picture>
</section>
