<section>
  <div class="block--primary block--skewed--top--left">
    <div class="grid grid--1x2 section__hero">
      <div class="section__header">
        <h2 class="section__heading">Chef Privé</h2>
        <img class="virgule" src="medias/pictos/virgule.png" alt="" />
        <img class="picto" src="medias/pictos/svg/chef.svg" alt="" />
      </div>
      <picture class="section__picture"
        ><img
          sizes="(max-width: 1238px) 100vw, 1238px"
          type="image/webp"
          srcset="
            medias/images/cedrat@380.webp   380w,
            medias/images/cedrat@900.webp   900w,
            medias/images/cedrat@1238.webp 1238w
          "
          type="image/jpg"
          srcset="
            medias/images/cedrat@380.jpg   380w,
            medias/images/cedrat@900.jpg   900w,
            medias/images/cedrat@1238.jpg 1238w
          "
          class="section__image"
          src="medias/images/cedrat@1238.jpg"
          alt=""
      /></picture>
    </div>
  </div>
  <div class="media">
    <picture class="media__picture">
      <img
        sizes="(max-width: 480px) 100vw, 480px"
        type="image/webp"
        srcset="
          medias/images/petru@320.webp 320w,
          medias/images/petru@480.webp 480w
        "
        type="image/jpg"
        srcset="
          medias/images/petru@320.jpg 320w,
          medias/images/petru@480.jpg 480w
        "
        class="media__image"
        src="medias/images/petru@480.jpg"
        alt=""
      />
    </picture>
    <div class="media__content">
      <p>
        Je suis Petru Hamon, et j’ai le plaisir de me présenter à vous en tant
        que chef privé
      </p>
    </div>
  </div>
  <article>
    <div class="grid grid--1x2 container column-container">
      <div class="column">
        <p class="article__content">
          Après avoir perfectionné mon art dans des écoles prestigieuses et des
          restaurants étoilés, j'ai eu l’immense privilège de diriger un
          restaurant gastronomique en Corse pendant quatre années
          enrichissantes.
        </p>
      </div>
      <div class="column">
        <p class="article__content">
          Aujourd'hui, je souhaite partager avec vous des expériences culinaires
          uniques, des moments intimes, où chaque plat raconte une histoire,
          chaque repas devient une célébration.
        </p>
      </div>
    </div>
  </article>
  <picture
    ><img
      class="section__footer block--white block--skewed--bottom--left"
      sizes="(max-width: 1920px) 100vw, 1920px"
      type="image/webp"
      srcset="
        medias/images/mains-petru@320.webp   320w,
        medias/images/mains-petru@1320.webp 1320w,
        medias/images/mains-petru@1920.webp 1920w
      "
      type="image/jpg"
      srcset="
        medias/images/mains-petru@320.jpg   320w,
        medias/images/mains-petru@1320.jpg 1320w,
        medias/images/mains-petru@1920.jpg 1920w
      "
      class="hero__image"
      src="medias/images/mains-petru@1920.jpg"
      alt="Gros plan sur l'assemblage d'une entrée"
  /></picture>
</section>
