<div class="card card--shadow card--testimonial">
  <h3 class="card__header">excellent repas</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat sunt
    nostrum neque recusandae, vero dolor officiis iste ut quod voluptatum.
  </p>
  <img
    src="medias/pictos/comment.png"
    alt="Pictogramme Commentaire"
    class="comment--2"
  /><img
    src="medias/pictos/homme.png"
    alt="Pictogramme Homme"
    class="silhouette"
  />
  <h5 class="author--male">Jean-Noël</h5>
</div>
<div class="card card--shadow card--testimonial">
  <h3 class="card__header">repas en famille</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat sunt
    nostrum neque recusandae, vero dolor officiis iste ut quod voluptatum.
  </p>
  <img
    src="medias/pictos/comment.png"
    alt="Pictogramme Commentaire"
    class="comment--1"
  /><img
    src="medias/pictos/femme.png"
    alt="Pictogramme Femme"
    class="silhouette"
  />
  <h5 class="author--female">Claire</h5>
</div>
