/* FONTS */
@font-face {
    font-family: "Roboto";
    src: url('../fonts/roboto/fixed/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/roboto/fixed/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
	src: url('../fonts/source-serif/variable/SourceSerif4Variable-Roman.otf.woff2'), url('../fonts/source-serif/variable/SourceSerif4Variable-Roman.ttf.woff2') format('woff2-variations');
  src: url('../fonts/source-serif/variable/SourceSerif4Variable-Roman.otf.woff'), url('../fonts/source-serif/variable/SourceSerif4Variable-Roman.ttf.woff') format('woff-variations');
	font-family:'Source Serif Variable';
  font-weight: 100 900;
	font-style: normal;
}
@font-face {
	src: url('../fonts/source-serif/variable/SourceSerif4Variable-Italic.otf.woff2'), url('../fonts/source-serif/variable/SourceSerif4Variable-Italic.ttf.woff2') format('woff2-variations');
  src: url('../fonts/source-serif/variable/SourceSerif4Variable-Italic.otf.woff'), url('../fonts/source-serif/variable/SourceSerif4Variable-Italic.ttf.woff') format('woff-variations');
	font-family:'Source Serif Variable';
  font-weight: 100 900;
	font-style: italic;
}


:root {
  --color-primary: #5a745e;
  --color-button: #7b917e;
  --color-checkbox: #223026;
  --color-input-shadow: #919f94;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family:
    "Roboto",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 0;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Serif Variable", Garamond, Georgia, Times, serif;
  margin: 0;
  text-align: center;
}
h2,
h3,
h4 {
  font-weight: 600;
}
h1 {
  color: white;
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: 5px;
  line-height: 1.3;
  margin: 5rem 2rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 1.8rem;
  font-weight: 300;
}
p {
  color: black;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  line-height: 1.7;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5.4rem;
  }
  h2 {
    font-size: 3.6rem;
  }
  h3 {
    font-size: 2.7rem;
  }
  h4 {
    font-size: 2.1rem;
  }
  p {
    line-height: 2;
  }
}

/* BLOCKS */
.block--primary {
  background: var(--color-primary);
}
.block--white {
  background: white;
}
.block--skewed--top--left {
  clip-path: polygon(0 calc(0% + 5rem), 100% 0%, 100% 100%, 0% 100%);
}
.block--skewed--top--right {
  clip-path: polygon(0 0, 100% calc(0% + 5rem), 100% 100%, 0% 100%);
}
.block--skewed--bottom--right {
  clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 5rem), 0% 100%);
}
.block--skewed--bottom--left {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% calc(100% - 5rem));
}
.block--cards {
  padding-top: 5rem;
}
.block--bottom {
  height: 8rem;
}
@media screen and (min-width: 768px) {
  .block--skewed--top--left {
    clip-path: polygon(0 calc(0% + 8rem), 100% 0%, 100% 100%, 0% 100%);
  }
  .block--skewed--top--right {
    clip-path: polygon(0 0, 100% calc(0% + 8rem), 100% 100%, 0% 100%);
  }
  .block--skewed--bottom--right {
    clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 8rem), 0% 100%);
  }
  .block--skewed--bottom--left {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% calc(100% - 8rem));
  }
  .block--cards {
    padding-top: 10rem;
  }
  .block--bottom {
    height: 12rem;
  }
}
@media screen and (min-width: 1440px) {
  .block--skewed--top--left {
    clip-path: polygon(0 calc(0% + 12rem), 100% 0%, 100% 100%, 0% 100%);
  }
  .block--skewed--top--right {
    clip-path: polygon(0 0, 100% calc(0% + 12rem), 100% 100%, 0% 100%);
  }
  .block--skewed--bottom--right {
    clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 12rem), 0% 100%);
  }
  .block--skewed--bottom--left {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% calc(100% - 12rem));
  }
}
/* LINKS */
a {
  text-decoration: none;
}

/* BUTTONS */
.btn-container {
  line-height: 1.5;
  margin: 0 auto 0;
  text-align: center;
  width: 100%;
}
.btn--primary {
  background: var(--color-button);
  border-radius: 25px;
  border: 1px solid var(--color-primary);
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.5);
  color: white;
  display: inline-block;
  font-family: "Roboto",
                system-ui,
                -apple-system,
                BlinkMacSystemFont,
                "Segoe UI",
                Roboto,
                Oxygen,
                Ubuntu,
                Cantarell,
                "Open Sans",
                "Helvetica Neue",
                sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 4px;
  padding: 0.7rem 2rem;
  white-space: nowrap;
  word-spacing: 10px;
}
.btn--primary:hover {
  background: white;
  color: var(--color-primary);
}
@media screen and (min-width: 768px) {
  .btn--primary {
    font-size: 1.8rem;
    letter-spacing: 5px;
    padding: 0.5rem 3rem;
  }
}

/* VIRGULES */
.virgule {
  width: 200px;
}
.virgule-verticale {
  display: block;
  margin: 0 auto;
  width: 250px;
}

/* PICTOS */
.picto {
  display: block;
  margin: 0 auto;
  width: 250px;
}
.picto--icon {
  height: 30px;
  vertical-align: middle;
  max-width: 50px;
}

.hero__picto {
  max-width: 140px;
  width: 30%;
}
.comment--1 {
  display: block;
  margin: 0 0 0 auto;
  position: relative;
  top: -15px;
  transform: rotateY(180deg) rotateZ(10deg);
  width: 200px;
}
.comment--2 {
  margin: 0 auto 0 0;
  display: block;
  position: relative;
  top: -5px;
  left: -10px;
  width: 200px;
}
.silhouette {
  fill: var(--color-primary);
  margin: 0 auto;
  display: block;
  width: 250px;
}
@media screen and (min-width: 768px) {
  .comment--1,
  .comment--2 {
    width: 300px;
  }
  .silhouette {
    max-width: 95%;
    width: auto;
  }
}

/* ICONS */
.font-icon {
  color-scheme: white;
  font-size: 2rem;
  vertical-align: middle;
}

/* GRIDS */
.grid {
  display: grid;
}
.grid--4x3 {
  align-self: center;
  grid-template: repeat(4, auto) / repeat(3, 1fr);
  grid-column-gap: 8px;
}
.grid--media {
  grid-template-columns: repeat(2, 50%);
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, auto);
  }
  .grid--1x2.block--cards {
    grid-template-columns: repeat(2, 50%);
  }
  .grid--1x2.section__hero {
    grid-template-columns: 30% 70%;
  }
}
@media screen and (min-width: 1024px) {
  .grid--4x3 {
    grid-column-gap: 12px;
    grid-row-gap: 7px;
  }
}
.grid--form {
  grid-template: repeat(4, auto) / repeat(2, 50%);
  grid-template-areas:
    "image           contact-info"
    "comment        comment"
    "formula-choice formula-choice"
    "button          button";
}

/* LISTS */
ul {
  padding: 0;
}
li {
  display: block;
}
.list {
  list-style: none;
  padding-inline-start: 0;
}

/* HERO */
.hero {
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding-top: 10rem;
}
.hero__header {
  align-self: center;
  text-align: center;
}
.hero__name {
  color: white;
  font-family: 'Courier New', Courier, monospace, Garamond, Georgia, Times, serif;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 1;
  margin: 0;
  text-align: center;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 1);
  text-transform: uppercase;

}
.hero__tagline {
  color: white;
  font-family: "Source Serif Variable", Garamond, Georgia, Times, serif;
  margin-bottom: 5rem;
}
.hero__gallery {
  display: grid;
  padding: 1rem;
  width: 100%;
}
.hero__image {
  border-radius: 3px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
}
.hero__picture:nth-of-type(1) {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}
.hero__picture:nth-of-type(2) {
  grid-row: 2 / span 3;
  grid-column: 1 / span 1;
}
.hero__picture:nth-of-type(3) {
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
}
.hero__picture:nth-of-type(4) {
  grid-row: 3 / span 2;
  grid-column: 2 / span 1;
}
.hero__picture:nth-of-type(5) {
  grid-row: 1 / span 3;
  grid-column: 3 / span 1;
}
.hero__picture:nth-of-type(6) {
  grid-row: 4 / span 1;
  grid-column: 3 / span 1;
}
.hero-section .btn-container {
  padding-top: calc(100vh * 0.08);
  /*padding-bottom: calc(100vh * 0.15);*/
  padding-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .hero__name {
    font-size: 2.8rem;
  }
  .hero__tagline {
    margin-bottom: 0;
  }
  .hero__gallery {
    padding-right: 3rem;
  }
}

/* SECTIONS HERO */
.section__hero {
  align-items: center;
  justify-items: center;
  line-height: 0;
  margin: 0 0 0 auto;
}
.section__header {
  bottom: -30px;
  position: relative;
  padding-top: 6rem;
  text-align: center;
}
.section__heading {
  color: white;
  letter-spacing: 0.8rem;
  line-height: 1.3;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  word-spacing: 1rem;
}
.section__picture {
  justify-self: center;
  margin: 0 auto;
  width: 100%;
}
.section__image {
  width: 100%;
}
.section__footer {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .section__header.rouleau {
    bottom: -55px;
  }
}
@media screen and (min-width: 768px) {
  .section__hero {
    justify-items: right;
  }
  .section__header {
    bottom: 0px;
    padding-top: 10rem;
    right: -50px;
  }
}

/* MEDIAS */
.media {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.media__picture {
  display: grid;
  position: relative;
  top: -20px;
  z-index: 100;
}
.media__image {
  align-self: center;
  border-radius: 3px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
  height: 100%;
  justify-self: center;
  object-fit: cover;
  width: 80%;
}
.media__content {
  align-self: center;
  max-height: 70%;
  overflow: auto;
  max-width: 500px;
  padding-right: 1rem;
  position: relative;
  top: -20px;
  z-index: 100;
}
.media-2 > .media__picture {
  order: 1;
}
.media-2 > .media__content {
  padding-left: 1rem;
  padding-right: 0;
  text-align: right;
}
@media screen and (max-width: 320px) {
  .media p {
    line-height: 1.5;
  }
}
@media screen and (min-width: 768px) {
  .media__picture {
    justify-self: center;
    top: -30px;
    width: 80%;
  }
  .media__image {
    justify-self: end;
    width: 80%;
  }
  .media__content {
    padding-left: 2vw;
  }
  .media-2 > .media__picture {
    justify-self: center;
  }
  .media-2 .media__image {
    justify-self: start;
  }
  .media-2 > .media__content {
    justify-self: right;
    padding-right: 2vw;
  }
}
@media screen and (min-width: 1792px) {
  .media__image {
    width: 60%;
  }
}

/* ARTICLES */
article {
  background: var(--color-primary);
}
.column-container {
  background: var(--color-primary);
  padding: 4rem 4rem 0rem 4rem;
  position: relative;
  top: -40px;
}
.column {
  margin: 0 0 2rem auto;
  max-width: 735px;
}
.column:last-of-type {
  margin-bottom: 0;
}
.article__content {
  color: white;
  font-weight: 400;
  letter-spacing: 0.3rem;
  word-spacing: 0.5rem;
}
@media screen and (min-width: 768px) {
  .column-container {
    padding: 8rem 8rem 0;
    top: -60px;
  }
  .column:nth-of-type(even) {
    margin-left: 5vw;
  }
}

/* CARDS */
.block-cards__title {
  color: var(--color-primary);
  letter-spacing: 0.5rem;
  margin: 0 1.5rem 3rem;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  word-spacing: 1rem;
}
.card {
  margin: 0 auto 5rem;
  min-height: 500px;
  padding: 3rem 2rem;
  width: 90%;
  max-width: 500px;
}
.card--shadow {
  border-radius: 20px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
}
.card--wg {
  background: linear-gradient(
    to bottom,
    white 140px,
    var(--color-primary) 140px
  );
}
.card--gw {
  background: linear-gradient(
    to bottom,
    var(--color-primary) 140px,
    white 140px
  );
}
.card--wg .card__heading,
.card--gw .card__heading {
  color: white;
  letter-spacing: 0.5rem;
  margin-bottom: 1.5rem;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}
.card__picture {
  margin-bottom: 2rem;
}
.card__image {
  border-radius: 3px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
  justify-self: center;
  max-width: 95%;
}
.card__content {
  color: white;
  font-weight: 400;
  letter-spacing: 0.3rem;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  text-align: left;
  word-spacing: 0.5rem;
}
@media screen and (min-width: 768px) {
  .block-cards__title {
    grid-column: 1 / span 2;
    margin: 0 6rem 5rem;
  }
  .card {
    margin: 0 auto 10rem;
    min-height: 700px;
  }
  .card--shadow {
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.2);
  }
  .card--wg {
    background: linear-gradient(
      to bottom,
      white 160px,
      var(--color-primary) 160px
    );
  }
  .card--gw {
    background: linear-gradient(
      to bottom,
      var(--color-primary) 170px,
      white 170px
    );
  }
  .card__content {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1440px) {
  .block-cards__title {
    margin: 0 auto 7rem;
  }
  .card {
    margin: 0 auto 15rem;
  }
  .card--wg {
    background: linear-gradient(
      to bottom,
      white 215px,
      var(--color-primary) 215px
    );
  }
}

/* PROCESS CARDS */
.card--process {
  margin: 0 auto;
  max-width: 500px;
  padding: 0 2rem;
}
.card--process .card__heading {
  color: var(--color-primary);
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  word-spacing: 1rem;
}
.card--process .card__content {
  color: black;
  max-width: 390px;
  text-align: center;
}
.number {
  align-items: center;
  background: var(--color-primary);
  border-radius: 50%;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  top: -70px;
  width: 100px;
}
.number > p {
  color: white;
  font-family: "Source Serif Variable", Garamond, Georgia, Times, serif;
  font-size: 6rem;
  font-weight: 700;
}

/* TESTIMONIAL CARDS */
.card--testimonial {
  font-family: "Source Serif Variable", Garamond, Georgia, Times, serif;
}
.card--testimonial .card__heading {
  color: var(--color-primary);
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  word-spacing: 1rem;
}
.author {
  color: var(--color-primary);
  font-style: italic;
  margin-left: 65%;
  position: relative;
  text-align: left;
  text-align: right;
  white-space: wrap;
}
.author--female {
  top: -15px;
}
.card--testimonial h4 {
  color: var(--color-primary);
  font-weight: 300;
  font-style: italic;
}
@media screen and (min-width: 768px) {
  .card--testimonial:nth-of-type(3) {
    grid-column: 1 / span 2;
    max-width: min(500px, 45%);
  }
}
/* FORMULA CARD */
.card--formula {
  padding-left: 0;
  padding-right: 0;
}
.formula__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 97%;
}
.card--formula .card__heading {
  padding-left: 1rem;
  text-align: left;
}
.formula__description {
  color: var(--color-primary);
  font-family: "Source Serif Variable", Garamond, Georgia, Times, serif;
  margin-top: 5rem;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.formula__container {
  grid-template-columns: auto 1fr;
  margin-top: 2rem;
}
.bullet {
  display: inline;
  height: 20px;
  margin-right: 0.7rem;
  position: relative;
  width: 20px;
  top: 4px;
}
.formula__item {
  color: black;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin: 0 0 1.5rem;
  padding-left: 2rem;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .formula__header {
    padding-left: 2rem;
    padding-top: 2rem;
  }
  .formula__header .card__heading {
    font-size: 2.4rem;
    font-weight: 400;
  }
  .formula__description {
    padding-left: 2rem;
  }
  .formula__item {
    padding-left: 5rem;
  }
}
/* CHECKBOX */
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  height: 30px;
  width: 30px;
}
.custom-checkbox .checkmark {
  position: relative;
  left: -10px;
  top: -10px;
  display: inline-block;
  height: 25px;
  width: 25px;
  background: white;
  border: 2px solid var(--color-checkbox);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.15s;
}
.custom-checkbox .checkmark:hover {
  cursor: pointer;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
}
.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: -1px;
  width: 7px;
  height: 20px;
  border: solid var(--color-checkbox);
  border-width: 0 4px 5px 0;
  transform: rotate(45deg);
}
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* FORMS */
::placeholder {
  color: var(--color-input-shadow);
  font-family:
    "Roboto",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1.3rem;
  letter-spacing: 2.5px;
  word-spacing: 4px;
}
.form__container .section__header {
  bottom: 0;
  margin-bottom: 5rem;
  z-index: 100;
}
.form {
  justify-self: center;
  max-width: 720px;
  padding-bottom: 5rem;
}
.form__picture {
  line-height: 1;
  text-align: center;
}
.form__image {
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
  justify-self: center;
  max-width: 310px;
  width: 85%;
}
.form__content {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  left: -20%;
  max-width: 360px;
  padding: 0;
  position: relative;
  text-align: center;
}
input[type="text"],
input[type="email"],
input[type="tel"],
.form__comment {
  border: none;
  border-radius: 7px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  font-family:
    "Roboto",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding: 0.2rem 0.8rem;
  transition:
    border-color 0.15s,
    box-shadow 0.15s;
  width: 115%;
}
input[type="email"] {
  margin-bottom: 0;
}
.form__comment {
  grid-area: comment;
  height: auto;
  justify-self: center;
  margin-top: 3rem;
  max-width: 720px;
  padding: 1rem;
  width: 92%;
}
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
.form__comment:focus {
  outline: 0;
  border-color: var(--color-primary);
  box-shadow: 0 0 5px 2px var(--color-input-shadow);
}
@media screen and (min-width: 425px) {
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  .form__comment {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }
}
form .btn-container {
  margin-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  form .grid--1x2 {
    align-items: center;
    grid-template-columns: 40% 60%;
  }
  .form__container .section__header {
    bottom: 50px;
    justify-self: right;
    margin-bottom: 0;
    padding-top: 0;
  }
  .form {
    justify-self: left;
    padding-bottom: 10rem;
    padding-top: 20rem;
  }
  form .btn-container {
    margin-bottom: 10rem;
  }
}
@media screen and (min-width: 1440px) {
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  .form__comment {
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
  }
  ::placeholder {
    font-size: 1.8rem;
    letter-spacing: 2.5px;
    word-spacing: 4px;
  }
  form .btn-container {
    margin-bottom: 15rem;
  }
}

/* COLLAPSIBLES */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}
.collapsible__chevron {
  transform: rotate(90deg);
  transition: transform 0.3s;
  width: 40px;
}
.collapsible__chevron:hover {
  cursor: pointer;
}
.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
  width: 40px;
}
.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* NAV */
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 2.5%;
  padding-top: 1rem;
  position: fixed;
  top: 0;
  width: 95%;
  z-index: 1000;
}
/* TODO : make nav-brand logo opacity to 1 only when the nav menu is open */
.nav__brand {
  margin-left: 1rem;
  opacity: 0;
  width: 50px;
  transition: opacity 0.15s;
}
.nav__toggler {
  fill: white;
  height: 35px;
  margin-right: 1rem;
  opacity: 0.5;
  width: 35px;
  transition: all 0.25s;
}
.nav__toggler:hover {
  cursor: pointer;
  opacity: 0.8;
}
.nav__list {
  background: var(--color-primary);
  width: 100%;
}
.nav__item-container {
  align-items: center;
  border-bottom: 0.1px solid rgba(58, 73, 62, 0.6);
  display: flex;
  margin: 0 auto;
  width: 95%;
}
.nav__icon {
  padding-left: 0.5rem;
  transition: transform 0.3s;
  width: 61px;
}
.nav__item {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Source Serif Variable", Garamond, Georgia, Times, serif;
  font-size: 1.8rem;
  letter-spacing: 2px;
  line-height: 4;
  padding-left: 2rem;
  transition: color 0.15s;
  white-space: nowrap;
  word-spacing: 3px;
}
.nav__item:hover {
  color: white;
}
.nav__item-container:hover .nav__icon {
  transform: scale(1.25);
}
.nav.collapsible--expanded {
  background: var(--color-primary);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.nav.collapsible--expanded .nav__toggler {
  border-radius: 5px;
  box-shadow: 0 0 3px 3px #666;
  opacity: 1;
}
.nav.collapsible--expanded .nav__brand {
  opacity: 0.7;
}
.nav.collapsible--expanded .nav__brand:hover {
  cursor: pointer;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .nav {
    align-items: center;
    background: var(--color-primary);
    flex-wrap: initial;
    justify-content: space-between;
    margin: 0;
    padding: 1rem 1rem 0 1rem;
    width: 100%;
  }
  .nav__brand {
    opacity: 0.5;
  }
  .nav__brand:hover {
    opacity: 1;
  }
  .nav__toggler {
    display: none;
  }
  .nav__list {
    display: flex;
    max-height: 100%;
    opacity: 1;
    width: auto;
  }
  .nav__item-container {
    border-bottom: none;
    border-right: 0.2px solid rgba(58, 73, 62, 1);
    padding-right: 1rem;
    width: initial;
  }
  .nav__item-container:last-of-type {
    border-right: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__item {
    font-size: 1.4rem;
    line-height: 1.5;
    padding-left: 1rem;
    text-align: center;
    white-space: initial;
  }
  .nav.collapsible--expanded {
    border: none;
    border-radius: 0;
    box-shadow: initial;
  }
}
@media screen and (min-width: 1024px) {
  .nav__item-container {
    padding-right: 2rem;
  }
  .nav__item {
    padding-left: 2rem;
  }
}

/* FOOTER */
.footer__sections {
  border-top: 0.3px solid rgba(58, 73, 62, 1);
  padding: 0 2rem;
}
.footer__section {
  border-bottom: 0.3px solid rgba(58, 73, 62, 1);
  padding: 2rem 0;
}
.footer__heading {
  color: white;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}
.footer__heading:hover {
  cursor: pointer;
}
.footer__list {
  margin: 1rem 0;
}
.footer__list p:first-of-type {
  margin-bottom: 2rem;
}
.footer__list-item {
  font-size: 2rem;
  line-height: 2.5;
  opacity: 0.5;
  transition: opacity 0.2s;
}
.footer__list-item a {
  color: black;
}
.footer__list-item p {
  font-size: 2rem;
}
.footer__list-item:hover {
  opacity: 0.7;
}
.footer__brand {
  text-align: center;
  margin: 3rem auto;
}
.footer__brand img {
  margin: 0 auto;
  width: 40%;
}
.footer__copyright {
  margin-top: 2rem;
  opacity: 0.5;
}
@media screen and (min-width: 1024px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    grid-column-gap: 20px;
    /* padding: 10rem 0; */
  }
  .footer__section {
    border: none;
  }
  .footer__heading {
    font-size: 2rem;
  }
  .collapsible__chevron {
    display: none;
  }
  .collapsible__content {
    max-height: 100%;
    opacity: 1;
  }
  .footer__list-item {
    font-size: 2rem;
  }
  .footer__brand {
    order: -1;
  }
  .footer__copyright {
    font-size: 1.2rem;
  }
}

/* CONTAINER */
.container {
  margin: 0 auto;
  max-width: 1440px;
}
