:root {
  --color-primary: #5a745e;
  --color-button: #7b917e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--color-primary);
  margin-top: 5rem;
  margin-top: 5rem;
  margin-top: 5rem;
  margin-top: 5rem;
  color: #fff;
  font-family:
    Roboto,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 5rem;
}

/* Typography */
h1,
h2,
h3,
h4 {
  color: white;
  font-family: "Source Serif 4";
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.4rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

/* Buttons */
.btn--primary {
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
  background: var(--color-button);
  border-radius: 50px;
  border: none;
  color: white;
  font-family: Roboto;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 4px;
  padding: 1.5rem 3rem;
  white-space: nowrap;
}
.btn--primary:hover {
  background: white;
  color: var(--color-primary);
}
@media screen and (min-width: 768px) {
  .btn--primary {
    font-size: 3rem;
    font-weight: 400;
    padding: 2rem 5rem;
    letter-spacing: 5px;
  }
}
